@using Xalise.Web.Areas.Repertoires.Models;
@model ThemeGEDEditModel;

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header bg-secondary bg-gradient">
            <h1 class="modal-title fs-5 text-white">@Model.UTitre</h1>
        </div>
        <div class="modal-body">
            @if (Model.AvecErreur)
            {
                <partial name="_ErrorEdit" model="Model.ErrorModel" />
            }
            else
            {
                @using (Html.BeginForm("Save", "ThemeGED", FormMethod.Post, new { area = "Repertoires", @id = @IdentifiantfHtmlElement.ID_FORM_REP_THEME_GED_EDIT }))
                {
                    <input type="hidden" asp-for="ThemeDTO.ID" />
                    <input type="hidden" asp-for="ThemeDTO.NumOrdre" />
                    <input type="hidden" asp-for="ThemeDTO.EstInterne" />
                    <input type="hidden" asp-for="ThemeDTO.EstArchive" />
                    <input type="hidden" asp-for="ModeOuverture" class="nePasVider" />

                    <div class="container-fluid">
                        <div class="row mb-2">
                            <label asp-for="ThemeDTO.Libelle" class="col-sm-3 col-form-label-sm px-0"></label>
                            <div class="col-sm-9">
                                <input asp-for="ThemeDTO.Libelle" class="form-control form-control-sm" disabled="@(Model.ModeOuverture == eModeOuverture.VISUALISATION)" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label asp-for="ThemeDTO.ParentID" class="col-sm-3 col-form-label-sm px-0"></label>
                            <div class="col-sm-9">
                                <select asp-for="ThemeDTO.ParentID" asp-items="Model.ListeThemesParents" class="form-select form-select-sm" disabled="@(Model.EstParentAvecEnfants || Model.ModeOuverture == eModeOuverture.VISUALISATION)"></select>
                            </div>
                        </div>

                        @if (Model.EstParentAvecEnfants && !Model.ThemeDTO.EstArchive)
                        {
                            <div class="row mb-2">
                                <div class="col-sm-9 offset-sm-3">
                                    <p class="mb-0 text-info @IdentifiantfHtmlElement.CLASS_TXT_JUSTIFY @IdentifiantfHtmlElement.CLASS_FONT_SIZE_70">
                                        Un thème parent possédant des enfants ne peut pas être rattaché à un autre thème parent.
                                    </p>
                                </div>
                            </div>
                        }

                        @if (Model.ThemeDTO.EstArchive)
                        {
                            <div class="row">
                                <div class="col-sm-9 offset-sm-3">
                                    <p class="mb-0 text-danger @IdentifiantfHtmlElement.CLASS_TXT_JUSTIFY @IdentifiantfHtmlElement.CLASS_FONT_SIZE_75">@Model.UInfoArchivage</p>
                                </div>
                            </div>
                        }

                        @if (Model.ModeOuverture.Equals(eModeOuverture.CREATION))
                        {
                            <div class="row">
                                <div class="col-sm-9 offset-sm-3">
                                    <partial name="_ContinuerSaisie" model="Model" />
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>
        <div class="modal-footer">
            @if (Model.AvecErreur || Model.ModeOuverture.Equals(eModeOuverture.VISUALISATION))
            {
                <xalise-button size="btn_sm" style="btn_secondary" icon="xmark" icon-style="solid" title="Fermer" onclick="ThemeGED_Fermer();" />
            }
            else
            {
                <xalise-button size="btn_sm" style="btn_secondary" icon="xmark" icon-style="solid" title="Annuler" onclick="ThemeGED_Fermer();"/>
                <xalise-button size="btn_sm" style="btn_primary" icon="check" icon-style="solid" title="Enregistrer" onclick="ThemeGED_EnregistrerTheme();" />
            }
        </div>
    </div>
</div>