@using Xalise.Web.Areas.Repertoires.Models
@using Xalise.Core.Extensions
@using Xalise.Core.Entite.GED
@model ThemeGEDViewModel

<xalise-button size="btn_sm" style="btn_primary" icon="plus" icon-style="regular" title="Ajouter un thème" onclick="ThemeGED_AfficherTheme(@((int)eModeOuverture.CREATION), 0);" />

@if (Model.ListeThemes.IsEmpty())
{
    <partial name="_EmptyResults" />
}
else
{
    <table class="table table-hover table-sm table-bordered mt-2">
        <thead class="table-dark">
            <tr>
                <th class="@IdentifiantfHtmlElement.CLASS_COL_ACTIONS @IdentifiantfHtmlElement.CLASS_COL_CENTER"></th>
                <th>Libellé</th>
                <th class="@IdentifiantfHtmlElement.CLASS_COL_NUM_ORDRE @IdentifiantfHtmlElement.CLASS_COL_CENTER">N°ordre</th>
                <th class="@IdentifiantfHtmlElement.CLASS_COL_CHECKBOX @IdentifiantfHtmlElement.CLASS_COL_CENTER">Archivé</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ThemeDTO dto in Model.ListeThemes)
            {
                <tr>
                    <td class="@IdentifiantfHtmlElement.CLASS_COL_ACTIONS @IdentifiantfHtmlElement.CLASS_COL_CENTER">
                        @if (!dto.EstArchive)
                        {
                            <xalise-action-link icon-style="regular"
                                    icon="pen_to_square"
                                    title="Modifier le thème"
                                    onclick="ThemeGED_AfficherTheme(@((int)eModeOuverture.MODIFICATION), @dto.ID)" />
                        }
                        else
                        {
                            <xalise-action-link icon-style="regular"
                                    icon="eye"
                                    title="Visualiser le thème"
                                    onclick="ThemeGED_AfficherTheme(@((int)eModeOuverture.VISUALISATION), @dto.ID)" />
                        }

                        @if (!dto.EstInterne)
                        {
                            <xalise-action-link icon-style="regular" icon="trash_can" title="Supprimer le thème" onclick="Theme_Supprimer(@dto.ID)" />

                            @if (dto.EstArchive)
                            {
                                <xalise-action-link 
                                        icon-style="regular"
                                        icon="eye_slash"
                                        title="Annuler l'archivage du thème"
                                        onclick="ThemeGED_AfficherDialogueGestionArchivage(@((int)eModeGestionArchivage.ANNULATION_ARCHIVAGE), @dto.ID)" />
                            }
                            else
                            {
                                <xalise-action-link 
                                        icon-style="regular" 
                                        icon="eye_slash" 
                                        title="Archiver le thème"
                                        onclick="ThemeGED_AfficherDialogueGestionArchivage(@((int)eModeGestionArchivage.ARCHIVAGE), @dto.ID)" />
                            }
                        }
                    </td>
                    <td>@dto.ULibelleListeRepertoire</td>
                    <td class="@IdentifiantfHtmlElement.CLASS_COL_NUM_ORDRE @IdentifiantfHtmlElement.CLASS_COL_CENTER">@dto.NumOrdre</td>
                    <td class="@IdentifiantfHtmlElement.CLASS_COL_CHECKBOX @IdentifiantfHtmlElement.CLASS_COL_CENTER">
                        <input asp-for="@dto.EstArchive" class="form-check-input" disabled="disabled" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}